*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis' , candara;
}
.hero{
    width: 95%;
    margin: auto;
}
.navbar{
    margin: -35px auto;
    display: flex;
    align-items: center;
}
ul{
    flex: 1;
    text-align: right;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 50px 20px;
}
ul li a{
    text-decoration: none;
    color: rgb(78, 26, 26) ;
    padding: 0 10px;
    position: relative;
}

ul li a::after{
    content: '';
    width: 0;
    height: 10px;
    background: #88323f;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    transition: 0.5s;
}
ul li a:hover::after{
    width: 100%;
}
.navbar-icons img{
    height: 25px;
    margin-left: 40px;
    cursor: pointer;
}
.navbar-icons{
    margin-left: 40px;
}
.banner{
    display: flex;
    margin-top: 80px;
}
.left-column,.right-column{
    flex-basis: 50%;
}
.right-column img{
    width: 100%;
}
.search-box{
    width: 50%;
    display: flex;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(43, 41, 41);
    border-top: 1px solid  rgb(44, 42, 42);
    border-left: 1px solid  rgb(51, 49, 49);
    border-right: 1px solid  rgb(46, 44, 44);
    margin: -20px 0 30px;
}
.search-box img{
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-right: 1px solid  rgb(0, 0, 0);
}
.search-box input{S
    width: 100%;
    margin-left: 7px;
    font-size: 17px;
    border: 0;
    outline: #0a0a0a;
}
.left-column h1{
    font-size: 82px;
}
.left-column h3{
    font-size: 25px;

}
span{
    color: rgb(250, 0, 0);
}
.left-column p{
    font-size: 15px;
    color: #3d3636;
    margin: 25px 0;
}
.btn button{
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #db3e3e;
    border-radius: 20px;
    cursor: pointer;
    color: #fb7381;
    background: transparent;
}
.btn .primary-btn{
    background: linear-gradient(#ff0019, #f14a61);
    box-shadow: 0 2px 15px rgba(248, 38,103,0.26);
    color: #fff;
}
.btn{
    margin-bottom: 50px;
}
.social-icons{
    width: 200px;
    text-align: center;
    opacity: .4;
    position: relative; 
}
.social-icons img{
    height: 20px;
    margin: 0 14px;
}
.social-icons::after{
    content:'';
    width: 150px;
    height: 1px;
    background: #000;
    position: absolute;
    left: -160px;
    top: 10px;
}
body{
    margin: 0;
    padding: 0;
    background: url(cofee.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
form{
    max-width: 350px;
    margin: 30px 0;
}
from input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 6px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
}
.btn-box{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;
}
.login-page-warpper{
    display:flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.box-flex{
    box-sizing: border-box;
}
label {
    display: block;
    margin: 5px 0;
}
